# Created by .ignore support plugin (hsz.mobi)
# IntelliJ project files
.idea
*.iml
/.idea/*
gen### Java template
*.class

#target#
/target

# Package Files #
*.jar

#properties#
/src/main/resources/lklconfig.properties

